<div class="register-signin-edit-wrapper"> <!-- user.css -->
    <div class="client-info-names-container">
        <h2 class="client_info_names_title">顧客情報名称管理</h2>
        <div class="info-form-container">
            <%= form_with model:@client_info_name ,url:client_info_name_path do |f| %>
                <% (1..10).each do |i| %>
                    <div class="info-form-name">
                        <p>顧客情報名称<%= i %></p>
                        <%= f.text_field "clients_info#{i}_name".to_sym, class: "client-info-text", id: "clients-info#{i}_name" %>
                    </div>
                <% end %>
                <div class="client-info-actions">
                    <%= f.submit "登録" ,class:"register-login-btn" %>
                    <%=link_to 'もどる', root_path, class:"client-info-back-btn" %>
                </div>
            <% end %>
        </div>
    </div>
</div>