<!DOCTYPE html>
<html>
  <head>
    <title>Procon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="sytlesheet" href="https://fonts.google.com/specimen/Mochiy+Pop+P+One?subset=japanese&noto.script=Hira">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
